#container{
    background-color:lightgrey;
    height:75vh;
    width:30vw;
    display: flex; 
    flex-direction: row;
    /* It enables us to wrapping into multiple lines with their given heights and widths */
     /* The elements of the wrap are
    1 2
    3 4
    5
    */
    /* wrapping will takes place from top to bottom */
    flex-wrap: wrap;
}
#container div{
    height: 200px;
    width:200px;
}
#div1{
    background-color: cyan;
}
#div2{
    background-color: red;
}
#div3{
    background-color: grey;
}
#div4{
    background-color: brown;
}
#div5{
    background-color: pink;
}