#calculator{
    height:300px;
    width:60%;
    /* border:1px solid rgb(7, 7, 7); */
}
#display-container{
    height:25%;
    width:100%;
    /* border:1px solid black; */
    background-color: #E2E0E0;
}
#keys{
    height:75%;
    width:100%;
    /* border:1px solid black; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E2E0E0;
}
.button{
    height:19%;
    width:24%;
    /* border:1px solid black; */
    background-color:white;
    position:relative;
}
.zero{
    height:19%;
    width:49%;
    /* border:1px solid black; */
    background-color:white;
    position:relative;
}
.zero span{
    font-size: 1.2rem;
    position:absolute;
    top:25%;
    left:45%;
}
.button span{
    font-size: 1.2rem;
    position:absolute;
    top:25%;
    left:35%;
    
}
.last-col{
    background-color: #C14444;
    color:white
}